.title-container {
    display: flex;
    justify-content: space-between;
    margin: 11px 0;
    align-items: center;
}

.title {
    margin: auto;
    color: #111;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}