.title-container {
    display: flex;
    justify-content: space-between;
    margin: 11px 0;
    align-items: center;
}

.title {
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 3.7rem;
    line-height: 28px;
    padding-top: 2rem;
    background-color: black;
    padding-bottom: 2rem;
}