.cardProduct-container {
    border: 0.7px solid rgba(216, 215, 215, 0.863);
    border-radius: 10px;  
    box-shadow: -7px 9px 9px 0px rgba(0, 0, 0, 0.657);
-webkit-box-shadow: -7px 9px 9px 0px rgba(0, 0, 0, 0.657);
-moz-box-shadow: -7px 9px 9px 0px rgba(0, 0, 0, 0.657);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 3rem;
    margin-top: 1.7rem;
    transition: all .2s ease-in-out;
    height: 90%;
    align-items: center;
}

.cardProduct-container:hover {
    transform: scale(1.02);
}


p {
    padding-top: 1rem;
    text-align: center;
}

#addProduct {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0.4rem;
    background-color: transparent;
    color: black;
    text-align: center;
    border: 2px solid black;
    font-weight: 600;
    border-radius: 6px;
}

#addToCart {
    margin-top: 0.5rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 1rem;
    background-color: black;
    color: #fff;
    border: solid rgba(0, 0, 0, 0.67) 2px;
    border-radius: 3px;
    padding: 5px;
}

.row.button-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

#control {
 background-color: transparent;
 border: none;
 transition: all .2s ease-in-out;

}

#control:hover {
    transform: scale(1.3);
}



