.logo-container {
  max-width: 55px;
}

.main-header {
  justify-content: end;
}

.btn-outline-secondary {
  border: none !important; 
}

.navbar {
  box-shadow: -1px 4px 5px 1px rgba(161,161,161,0.75);
-webkit-box-shadow: -1px 4px 5px 1px rgba(161,161,161,0.75);
-moz-box-shadow: -1px 4px 5px 1px rgba(161,161,161,0.75);
}

a {
  text-decoration: none !important; 
  color: rgba(0,0,0,.55) !important;
}

